@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply !scroll-smooth scroll-p-7 overflow-x-hidden;
  }
  body {
    @apply box-border bg-[#f4efe2] dark:bg-[#202020] dark:text-[#CDCDCD] text-[#2E282A] font-normal  font-popines transition-all duration-200;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-headingcolor;
  }
  .btn {
    @apply px-4 py-2 bg-darkGreen rounded-lg  text-darkBg font-semibold   transition-all duration-200 lg:text-base  text-sm;
  }
}

@layer utilities {
  @media (max-width: 250px) {
    html {
      font-size: 40% !important;
    }
  }
  @media (max-width: 375px) {
    html {
      font-size: 85% !important;
    }
  }
  @media (max-width: 450px) {
    html {
      font-size: 90% !important;
    }
  }
  /* WATHC */
  @media (max-width: 172px) {
    html {
      font-size: 40% !important;
    }
  }

  .swiper-pagination-bullet .swiper-pagination-bullet-active {
    width: 0.7rem !important;
    height: 0.3rem !important;
    background-color: #4caf50 !important;
  }

  /* .review .review-slider .box {
    transform: scale(0.8);
    opacity: 0.4;
  }

  .review .review-slider .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
  } */
}
@layer {
  .no-scroll {
    overflow: hidden !important;
  }
  .swiper-pagination-bullet {
    width: 1rem !important;
    background-color: black;
    border-radius: 0.2rem !important;
    background: rgb(164, 164, 164) !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #46f68f !important;
  }
}
